<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3">Secret Santa Guide</h1>
        <div>Thanks for signing up. This year we are doing a Secret Santa... 
      </form>
    </div>
  </div>
</div>
