<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="text-center"><img src="public/logo192.png" class="avatar" /></div>
        <h2 class="text-center mb-3">Secret Santa Guide</h2>
        <div>
            <h5>Thanks for signing up! </h5>
            <p>This year we are doing a Secret Santa gift exchange in lieu of our traditional White Elephant party. We hope that everyone will participate for fun, but of course this is a completely voluntary activity.
            </p>
            <p>Now for a bit of background. Secret Santa is a Christmas tradition where members of a group, whether friends, family, or co-workers, will draw random names to become someone's <em>Secret Santa</em>. The <em>Secret Santa</em> then gets a thoughtful
                gift for their recipient and gives it to them secretly. There are variations on how gifts are chosen but we will be using the most simple set of rules.
            </p>
            <div class="card card-body">
                <ol>
                    <h5>Secret Santa Guidelines:</h5>
                    <li>Sign up (you just did!)</li>
                    <li>Receive your email with your randomly assigned recipient. [The drawing will be done randomly once signups are complete.]</li>
                    <li>Next <em>try</em> to learn something about your assigned gift recipient's likes or hobbies in order to get them a more thoughtful gift. But, you have to do so without asking them directly and without letting anyone know whom your recipient
                        is. If you can't figure out a specific gift then feel free to just get a fun present that anyone would enjoy! This is for fun after all... </li>
                    <li>Either way, once you figure out a gift then go out an get it, but remember the spending limit is <strong>$25</strong>.
                    </li>
                    <li><span style="color: red"><strong>TBD</strong></span>: deliver your gift!</li>
                </ol>

                <h3>Need a little help?</h3>
                <p>For some ideas on good secret santa gifts that are under the $25 limit take a look at <a href="https://www.businessinsider.com/secret-santa-gifts" target="new">
            this article</a>. This is just a helpful suggestion if you are not able to come up with something on your own. </p>
                <div class="text-center">
                    <a href="/signup">Back to Sign Up Page</a>
                </div>
                </form>
            </div>
        </div>
    </div>