<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3">Secret Santa SignUp</h1>
      <%- include('./partials/messages') %>
      <form action="/users/signup" method="POST">
        <div class="form-group">
          <label for="fname">First Name</label>
          <input
            type="fname"
            id="fname"
            name="fname"
            class="form-control"
            placeholder="Enter First Name"
            value="<%= typeof fname != 'undefined' ? fname : '' %>"
          />
        </div>
      </form>
    </div>
  </div>
</div>
